body {
  font-family: sans-serif;
}

h1 {
  text-align: center
}

main {
  display: flex;
  justify-content: center;

  fieldset {
    margin: 8px;
  }

  canvas {
    margin: 16px;
    position: relative;
    width: 400px;
    height: 400px;
    border: 2px solid black;
  }
}