body {
  font-family: sans-serif;
}

h1 {
  text-align: center
}

nav {
  display: flex;
  justify-content: center;

  a {
    display: block;
    margin: 4px;
    font-size: 18pt;
  }
}

main.full {
  display: flex;
  justify-content: center;

  fieldset {
    margin: 8px;
  }

  canvas {
    margin: 16px;
    position: relative;
    width: 400px;
    height: 400px;
    border: 2px solid black;
  }
}

main.simple {
  text-align: center;
  margin: 10px;

  button {
    margin: 2px;
  }

  div {
    margin: 2px auto;
    text-align: left;
    width: 350px;

  }
}

main.text {
  text-align: center;

  textarea {
    display: block;
    margin: 8px auto;
    width: 500px;
    height: 500px;
  }

  button {
    margin: 8px;
  }
}

a.source {
  position: absolute;
  top: 4px;
  right: 4px;
}